# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

notes.md

google_admin_service_creds.json
config.yaml
config2.yaml
config3.yaml
config4.yaml

**/.vscode
**/.idea

__debug_bin
